$color-grey: #909090;
$color-blue: #03a9f5;
$color-header: #434f5b;
$blue-hover: #009ae1;
$tablet-calc: calc(100% - 40px);
$mobile-calc: calc(100% - 20px);
$fish-bg-widths: "(max-width: 1250px)";
$desktop-widths: "(max-width: 1200px)";
$tablet-widths: "(max-width: 768px)";
$mobile-widths: "(max-width: 468px)";